/* Usually I use SCSS, but this is such a small project it would be overkill. */
body {
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: center;

    background: #f44336;

    font-family: 'Gill Sans MT', sans-serif;
    font-weight: 300;
    color:       #ffffff;
    text-align:  center;
}

#particles {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

img {
  display: block;
  border-radius: 50%;
  width: 25%;
  z-index: 1;
}

h1 {
    font-size: 72px;
}

p {
    font-size: 35px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
